
<p>Need to put in the code to iterate through the code for just 1 user - use user_id ? Similar code to that used in artworks/index and home</p>

<br><br>

<p>(Footer should now be sticky to bottom when the code for the grid layed out for the users artwork)</p>
