.navbar-lewagon {
  justify-content: space-between;
  background: white;
  padding: -10px 0;

  position: relative;
  border-bottom: 1px solid rgba(0,0,0,0.3);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 150px;
  padding-left: -10px;
}

.title {
  font-size: 32px;
  color: rgb(89, 191, 224);
  left: 20vw;
  display: block;

}

.nav-item {
  padding-right: 30px;
}


// Smallest device
@media (min-width: 100px) {
  .title {
    font-size: 28px;
    display: block;
    left: 38vw;
  }
}

// keep as messing with sizes (some of the other comments are slightly off now) as added items to navbar
// @media (min-width: 300px) {
//   .title {
//     font-size: 0px;
//   }
// }

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .title {
    font-size: 0px;
  }
}

// Medium devices (tablets, 768px and up)
// @media (min-width: 768px) {
//   .title {
//     font-size: 32px;
//     left: 20vw;
//   }
// }

@media (min-width: 860px) {
  .title {
    font-size: 32px;
    left: 20vw;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .title {
    left: 20vw;
    font-size: 34px;
  }

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .title {
    left: 15vw;
    font-size: 38px;
  }
}
